.Rhistory
.RData
.Ruserdata

# RStudio files
.Rproj.user/
*.Rproj
.Rproj

# Mac file
.DS_Store

#full bioTime query 
data/prep_biotime/BioTIMEQuery_24_06_2021.csv

#don't push Rmd htmls
*.html

#full Q1 model outputs 
outputs/Aug2023/mod_q1.terrestrial_withinstudies.Rdata
outputs/Aug2023/mod_q1.terrestrial_withinstudiesv2.Rdata
outputs/Aug2023/MCMCtrace_q1model.pdf
outputs/Aug2023/ppcheck_modq1.Rdata

# working group meeting folders that dont' need to be available for publication:
tutorials/
scripts/homework/

