.Rhistory
.RData
.Ruserdata

# RStudio files
.Rproj.user/
*.Rproj
.Rproj

# Mac file
.DS_Store

#full bioTime query 
data/prep_biotime/BioTIMEQuery_24_06_2021.csv

#don't push Rmd htmls
*.html

#full Q1 model output 
outputs/Aug2023/mod_q1.terrestrial_withinstudies.Rdata
